div.profile-container {
    display: flex;
    flex: 1 100%;
    padding-left: 20px;

}

div.avatar-container {
    flex: 1 25%;
}

img.avatar {
    width: 100%;
    box-shadow: 2px 2px 5px -2px rgba(64, 64, 64, 1);
}

div.info-container {
    flex: 2 75%;
    padding-left: 20px;
}

div.info-container > p.info-name {
    font-size: 2em;
    color: #333;
}

div.info-container > p.info-github-link > a {
    color: #444;
    text-decoration: none;
    cursor: pointer;
}

div.info-container > p.info-github-link > a:hover {
    color: #555;
    text-decoration: underline;
}
